src/main/mule/sf-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sf-sapi-main">
        <http:listener config-ref="sf-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sf-sapi-config" />
        <error-handler ref="globalErrorHandler" />
    </flow>
    <flow name="sf-sapi-console">
        <http:listener config-ref="sf-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sf-sapi-config" />
        <error-handler ref="globalErrorHandler" />
    </flow>
    <flow name="post:\sfquerycall:application\json:sf-sapi-config">
        <flow-ref doc:name="query-call-retrieve-data-flow" doc:id="526d0f98-ca3c-46ff-8b10-c946f697d37a" name="query-call-retrieve-data-flow" />
    </flow>
    <flow name="delete:\contact\(ID):sf-sapi-config" doc:id="48a5fec3-0562-41e2-be0f-a123bffe84ac">
        <flow-ref doc:name="delete-contact-flow" doc:id="8040cc56-a5ee-4816-9da6-959f3308cebc" name="delete-contact-flow" />
    </flow>
    <flow name="delete:\account\(ID):sf-sapi-config" doc:id="3abd5911-1ff5-46ec-b24d-92f6a50d87dc">
        <flow-ref doc:name="delete-account-flow" doc:id="95777861-8548-4fea-a6b8-68ba1f964c20" name="delete-account-flow" />
    </flow>
    <flow name="get:\account:sf-sapi-config" doc:id="dbbb91ad-c78c-4af0-af4b-04210025cd7c">
        <flow-ref doc:name="get-accounts-flow" doc:id="19ba3863-1554-4e6d-a94f-6152f958d1c5" name="get-accounts-flow" />
    </flow>
    <flow name="get:\contact:sf-sapi-config" doc:id="70cd05b1-9b6f-427f-844c-5a29a1ce8e45">
        <flow-ref doc:name="get-contacts-flow" doc:id="63d65200-6211-4ee3-bda8-157002dbce9a" name="get-contacts-flow" />
    </flow>
    <flow name="get:\opportunity:sf-sapi-config" doc:id="da12458f-d023-4fb9-9752-ce21c3efd769">
        <flow-ref doc:name="get-opportunities-flow" doc:id="378216f1-504f-4b24-a864-9112d3ce790c" name="get-opportunities-flow" />
    </flow>
    <flow name="get:\dyncontact\(ID):sf-sapi-config" doc:id="6e45732a-bbe7-4b84-8fe6-80af3a55ab13">
        <flow-ref doc:name="get-contact-by-dynamics-id-flow" doc:id="1636e1c6-066a-47da-b512-bfc85f7f94d2" name="get-contact-by-dynamics-id-flow" />
    </flow>
    <flow name="get:\account\(ID):sf-sapi-config" doc:id="3155cd4d-63a7-4f40-8d06-8bf171358298">
        <flow-ref doc:name="get-account-by-id-flow" doc:id="c5ea39f1-078f-488a-9ff8-38f3fa378926" name="get-account-by-id-flow" />
    </flow>
    <flow name="get:\contact\(ID):sf-sapi-config" doc:id="9ae0733b-5bab-46f0-805f-500b81c5cd90">
        <flow-ref doc:name="get-contact-by-id-flow" doc:id="36723b3b-b6c1-4674-8094-921bc822cbcf" name="get-contact-by-id-flow" />
    </flow>
    <flow name="get:\opportunity\(ID):sf-sapi-config" doc:id="29bd1d24-3c6c-4baa-a608-08843453f68d">
        <flow-ref doc:name="get-opportunity-by-id-flow" doc:id="2f3264f6-aa33-48a0-b136-842aab239520" name="get-opportunity-by-id-flow" />
    </flow>
    <flow name="get:\dynaccount\(ID):sf-sapi-config" doc:id="14dbcb6d-054a-402f-a0d2-296410f43b32">
        <flow-ref doc:name="get-account-by-dynamics-id-flow" doc:id="3a64e3dd-c81e-44d2-a4cd-a65679d3235b" name="get-account-by-dynamics-id-flow" />
    </flow>
    <flow name="post:\account:application\json:sf-sapi-config" doc:id="87f97de0-9ca4-47d5-ac7a-b1734a611d28">
        <flow-ref doc:name="post-account-flow" doc:id="b99e720b-c73c-4e6d-a010-67cda77b42f8" name="post-account-flow" />
    </flow>
    <flow name="post:\contact:application\json:sf-sapi-config" doc:id="b822a22a-09e9-4564-ba37-a675b2a14474">
        <flow-ref doc:name="post-contact-flow" doc:id="b1298f3d-fc10-4dec-ad65-965580c8ef4c" name="post-contact-flow" />
    </flow>
    <flow name="post:\accountpagination:application\json:sf-sapi-config" doc:id="507150c3-3955-42e0-85be-ad961b159dcf">
        <flow-ref doc:name="post-account-pagination-sp-flow" doc:id="f89ee737-5003-4676-9b48-01f204e50a66" name="post-account-pagination-sp-flow" />
    </flow>
    <flow name="post:\orderpagination:application\json:sf-sapi-config">
		<flow-ref doc:name="post-order-pagination-sp-flow" doc:id="9cf44d69-d87d-4f47-8922-03e5509a4191" name="post-order-pagination-sp-flow"/>
    </flow>
	<flow name="post:\bulkjob:application\json:sf-sapi-config">
        <flow-ref doc:name="post-pagination-sp-flow" doc:id="1ea64a72-9985-4dc2-8aa3-f7309e2c6ad8" name="get-bulk-job-flow" />
    </flow>
</mule>
