src/main/mule/sf-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sf-sapi-main">
        <http:listener config-ref="sf-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sf-sapi-config" />
    </flow>
    <flow name="sf-sapi-console">
        <http:listener config-ref="sf-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sf-sapi-config" />
    </flow>
	<flow name="delete:\contact\(ID):sf-sapi-config" doc:id="500a9e76-57cf-4559-91a0-7e348783361e" >
		<flow-ref doc:name="delete-contact-flow" doc:id="d56918b1-0797-40e4-9ac3-e8aa118f4751" name="delete-contact-flow" />
	</flow>
	<flow name="delete:\account\(ID):sf-sapi-config" doc:id="69d7957b-aff3-4acd-a101-dee9c580ca60" >
		<flow-ref doc:name="delete-account-flow" doc:id="92b4bcc8-1a42-45b7-bcac-3cca74e04226" name="delete-account-flow" />
	</flow>
	<flow name="get:\account:sf-sapi-config" doc:id="478636f0-904c-4075-acb3-7b8571bb029b" >
		<flow-ref doc:name="get-accounts-flow" doc:id="e51d0dd5-f235-4ceb-b73f-ff6e912e9a98" name="get-accounts-flow" />
	</flow>
	<flow name="get:\contact:sf-sapi-config" doc:id="ce45fc23-7118-444d-93b1-56bce65e34cf" >
		<flow-ref doc:name="get-contacts-flow" doc:id="c283782c-0ab3-4a99-bac5-dc9b3b14c7d9" name="get-contacts-flow" />
	</flow>
	<flow name="get:\opportunity:sf-sapi-config" doc:id="98b8a5dc-ca57-4780-b455-773b536893a2" >
		<flow-ref doc:name="get-opportunities-flow" doc:id="a35c6530-5498-43bf-8d42-fb481bb05ce9" name="get-opportunities-flow" />
	</flow>
	<flow name="get:\dyncontact\(ID):sf-sapi-config" doc:id="4a920c9e-c113-4809-b5c1-4921c0af3583" >
		<flow-ref doc:name="get-contact-by-dynamics-id-flow" doc:id="fccb4736-32c1-4fd1-9664-e687e108aa53" name="get-contact-by-dynamics-id-flow" />
	</flow>
	<flow name="get:\account\(ID):sf-sapi-config" doc:id="5d773d74-e1fb-496e-8b2b-4668d81cebbc" >
		<flow-ref doc:name="get-account-by-id-flow" doc:id="970cc0e1-4ba6-4272-87c1-a78ad757b5d2" name="get-account-by-id-flow" />
	</flow>
	<flow name="get:\contact\(ID):sf-sapi-config" doc:id="c5e2a8da-20c5-43f0-a49a-f43e74e36b0c" >
		<flow-ref doc:name="get-contact-by-id-flow" doc:id="be55d1e7-78ed-4eec-82f1-b45de64b1323" name="get-contact-by-id-flow" />
	</flow>
	<flow name="get:\opportunity\(ID):sf-sapi-config" doc:id="064e5fb3-b234-484e-9ad0-600d2b60b25b" >
		<flow-ref doc:name="get-opportunity-by-id-flow" doc:id="ca3aa732-0101-4212-883c-72e0fcd6a515" name="get-opportunity-by-id-flow" />
	</flow>
	<flow name="get:\dynaccount\(ID):sf-sapi-config" doc:id="98acf56c-cc30-4dbf-a5fc-0f4bd65a2040" >
		<flow-ref doc:name="get-account-by-dynamics-id-flow" doc:id="19c37e1f-0b4d-4d5d-8bd3-473a6eb88c6c" name="get-account-by-dynamics-id-flow" />
	</flow>
	<flow name="post:\account:application\json:sf-sapi-config" doc:id="ec19b291-6536-4c9a-8fd3-482408f3d8e6" >
		<flow-ref doc:name="post-account-flow" doc:id="cfcf1c24-a25e-4b0e-9bc3-f25ff82a8174" name="post-account-flow" />
	</flow>
	<flow name="post:\contact:application\json:sf-sapi-config" doc:id="8cbda441-1c1a-47f4-bca9-ddf996a719eb" >
		<flow-ref doc:name="post-contact-flow" doc:id="1a5973d7-be32-4edd-8d2a-9b17acb321dd" name="post-contact-flow" />
	</flow>
</mule>
